<p-menubar class="fixed top-0 w-full z-50" [model]="items" 
    [ngClass]="{ 'bg-transparent': !scrolled, 'bg-white shadow-md': scrolled }">

  <!-- Logo (Always takes space but fades in) -->
  <ng-template pTemplate="start">
    <img src="/assets/images/logo.png" alt="Logo" 
      class="menu-logo mr-5"/>
  </ng-template>

    <ng-template #item let-item>
        <a pRipple class="flex items-center p-menubar-item-link decoration-black mr-3 ml-3"
            (click)="navigateToFragment(item.routerLink, $event)"
            [class.active-link]="activeSection === item.routerLink"
            >
            <span class="font-semi text-lg uppercase text-black hover:text-amber-600 font-semibold" >{{ item.label }}</span>
    
            <i *ngIf="item.items" class="ml-auto pi pi-angle-down"></i>
        </a>
    </ng-template>
</p-menubar>