<section id="home" class="home-section h-screen flex items-center bg-cover bg-left px-15 py-20">
  

  <!-- Content (Left-Aligned) -->
  <div class="container relative z-10 text-black max-w-2xl">
    <h1 class="text-6xl font-bold animate-fadeIn mb-2">We Serve</h1>
    <h1 class="text-6xl font-bold animate-fadeIn mb-2">Delicous & Energizing</h1>
    <h1 class="text-6xl font-bold animate-fadeIn text-amber-600">Breakfast ☕</h1>
    <p class="text-lg mt-6 opacity-80 animate-slideUp">
        A healthy breakfast fuels your body, boosts energy, and keeps you focused throughout the day ahead.
        Savor every bite, embrace the moment, and kickstart your morning with flavors that energize and inspire.
    </p>

    <!-- CTA Button -->
    <p-button label="Start Here" class="block mt-6 animate-slideUp" icon="pi pi-arrow-right" [raised]="true" [rounded]="true" severity="danger"></p-button>
  </div>

</section>